<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Recommended Airlines</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
  <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
<body>
  <div class="ui container">
    <h1 class="ui header">Recommended Airlines</h1>
    <h4 class="sub header">Here you can find airlines that cover routes between your home airports and other preferred airports</h4>
    <div class="ui fluid styled accordion">
      {% for airline in airlines %}
      <div class="title">
        <i class="dropdown icon"></i>
        <div class="ui large divided horizontal list">
          <div class="item">
            {{ airline.iata }}
          </div>
          <div class="item">
            {{ airline.name }}
          </div>
          <div class="item">
            Number of routes: {{ airline.num_routes }}
          </div>
          <div class="item">
            Coverage of your routes: {{ airline.p }}
          </div>
          {% if airline.meandelay %}
          <div class="item">
            Mean delay: {{ airline.meandelay }}
          </div>
          {% endif %}
        </div>
      </div>
      <div class="content">
        <h4><a href="/airlines/{{ airline.iata }}">View details of this airline</a></h4>
        <h4>Routes and their minimum prices</h4>
        <div class="ui list">
          {% for route in airline.routes %}
        <div class="item">
          <h5>
            <div class="ui list horizontal divided">
              <div class="item">
                {{ route.origin }} -> {{ route.destination }}
              </div>
              <div class="item">
                {{ route.minprice }}
              </div>
            </div>
          </h5>
        </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <script>
    $('.ui.accordion').accordion()
  </script>
</body>
</html>