<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
     html, body {
         height: 100%;
         margin: 0;
         padding: 0;
     }
     #map {
         height: 100%;
     }
     .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
	 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
     }

     .btn-large:hover .btn-floating:hover {
	 box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
     }

     .btn-floating {
	 display: inline-block;
	 color: #fff;
	 position: relative;
	 overflow: hidden;
	 z-index: 1;
	 width: 40px;
	 height: 40px;
	 line-height: 40px;
	 padding: 0;
	 background-color: #26a69a;
	 border-radius: 50%;
	 transition: .3s;
	 cursor: pointer;
	 vertical-align: middle;
     }

     .btn-floating:hover {
	 background-color: #26a69a;
     }

     .btn-floating:before {
	 border-radius: 0;
     }

     .btn-floating.btn-large {
	 width: 56px;
	 height: 56px;
     }


     .btn-floating i {
	 width: inherit;
	 display: inline-block;
	 text-align: center;
	 color: #fff;
	 font-size: 2.7rem;
	 line-height: 50px;
     }

     button.btn-floating {
	 border: none;
     }

     .red {
	 background-color: #F44336 !important;
     }
    </style>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/gmaps-sidebar.css" />
  </head>
  <body>
    <div style="position:absolute;right: 50px; bottom: 50px;">
      <a class="btn-floating btn-large red" style="font-size:1.7em;" onClick="nextPage();"><i>></i></a>
    </div>

    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-home"></i></a></li>
                <li id="link-to-airport-list"><a href="#chosen-airports" role="tab"><i class="fa fa-list"></i></a></li>
                <li id="link-to-suggested-list"><a href="#suggestions" role="tab"><i class="fa fa-hand-o-right"></i></a></li>
            </ul>
            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>
        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Flight Portal
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <div id="airport-list">
                  <p>Click on a marker to show all your nearby airports!</p>
                </div>
            </div>
            <div class="sidebar-pane" id="chosen-airports">
                <h1 class="sidebar-header">List of Selected Airports<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <table id="chosen-list" class="table">
                  <tr>
                    <td>Choose some airports by clicking on the markers!</td>
                  </tr>
                </table>
            </div>
            <div class="sidebar-pane" id="suggestions">
                <h1 class="sidebar-header">
                    Suggested Airports
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <table id="suggested-list" class="table">
                  <tr>
                    <td>Please select a few more airports by clicking on the markers!</td>
                  </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="map" class="sidebar-map"></div>
    <script>
    let data = {{pois|tojson|safe}};
    console.log(data);
    console.log('{{data_size}}');

    let storedAirports = [];
    let homeAirports = [];
    for (let i = 0; i < data.length; ++i) {
      for (let j = 0; j < data[i].nearbyAirports.length; ++j) {
        if (data[i].nearbyAirports[j].is_home === true) {
          let is_exist = false;
          for (let k = 0; k < homeAirports.length; ++k) {
            if (homeAirports[k].name === data[i].nearbyAirports[j].name) {
              is_exist = true
              break;
            }
          }
          if (!is_exist) {
            homeAirports.push(data[i].nearbyAirports[j]);
          }
        }
      }
    }

     {% if selected %}
     storedAirports = {{selected|tojson|safe}}
     {% endif %}

    var styles = [
      {
        stylers: [
          { hue: "#00ffe6" },
          { saturation: -20 }
        ]
      },
      {
        featureType: "road",
        elementType: "geometry",
        stylers: [
          { lightness: 100 },
          { visibility: "simplified" }
        ]
       },
       {
         featureType: "road",
         elementType: "labels",
         stylers: [
           { visibility: "off" }
         ]
       }
     ];

     function initMap() {
       new google.maps.StyledMapType(styles, {name: "Styled Map"});
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 4,
         center: data[0].position
       });
       map.setOptions({styles: styles});
       var infowindow = new google.maps.InfoWindow();
       let index = 0
       data.forEach(function(elem) {
         var marker = new google.maps.Marker({
           position: elem.position,
           map: map,
           title: elem.label + ""
         });
         makeInfoWindowEvent(map, infowindow, elem.label+"%", marker, index);
         ++index;
       });

       var heatMapData = []

       data.forEach(function(elem) {
         heatMapData.push({
           location: new google.maps.LatLng(elem.position.lat, elem.position.lng),
           weight: elem.label
         });
       });

       var heatmap = new google.maps.visualization.HeatmapLayer({
         data: heatMapData,
         radius: 30
       });
       heatmap.setMap(map);
     }

     function makeInfoWindowEvent(map, infowindow, contentString, marker, index) {
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(contentString);
        infowindow.open(map, marker);
        $("#airport-list").empty();
        let curr = $("#airport-list").append('<p><h1 style="text-align: center;">Nearby Airports</h1></p>');
        for (let i = 0; i < data[index]['nearbyAirports'].length; ++i) {
          let a = $('<p></p>', {
            'html': data[index]['nearbyAirports'][i]['IATA'] + ' - '
                  + data[index]['nearbyAirports'][i]['name']
                  +  "<br /><code>Distance: "
                  + data[index]['nearbyAirports'][i]['distance']
                  + "</code>"
          });
          a.attr("class", "btn btn-default airport");
          a.attr("style", "width: 100%; margin-bottom: 10px; white-space: normal");
          a.data("airport-name", data[index]['nearbyAirports'][i]['name']);
          a.data("airport-iata", data[index]['nearbyAirports'][i]['IATA']);
          a.data("airport-home", data[index]['nearbyAirports'][i]['is_home']);
          if (storedAirports.includes(a.data("airport-name"))) {
            a.addClass("active");
          }
          a.on('click', function() {
            if ($(this).hasClass("active")) {
              storedAirports = storedAirports.filter((elem) => {
                return elem !== $(this).data("airport-name")
              })
              $(this).removeClass("active");
            } else {
	            console.log($(this).data("airport-home"));
              storedAirports.push({name: $(this).data("airport-name"), IATA: $(this).data("airport-iata"), is_home: $(this).data("airport-home")});
              $(this).addClass("active")
            }
          });
          a.appendTo(curr);
        }
        openSidebar();
      });
    }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk8DYJ1upiRa73zodMzFiJkINmEl-HocY&signed_in=true&libraries=visualization&callback=initMap">
    </script>
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/static/js/jquery-sidebar.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      var sidebar = null;
      $(document).ready(function() {
        sidebar = $('#sidebar').sidebar();
        $("#link-to-airport-list").on('click', function() {
          $("#chosen-list").empty();
          for (let i = 0; i < storedAirports.length; ++i) {
            let cross = $('<td><i class="fa fa-times" style="cursor:pointer;" aria-hidden="true"></i><td>')
            cross.on('click', function() {
              $(this).parent().remove();
              storedAirports = storedAirports.filter((elem) => {
                return elem !== storedAirports[i];
              })
            })
            let tablerow = $("<tr><td>" + storedAirports[i].IATA + "-" + storedAirports[i].name + "</td></tr>");
            tablerow.append(cross)
            tablerow.appendTo($("#chosen-list"))
          }
        })
        $("#link-to-suggested-list").on('click', function() {
          let iatas = [];
          let homes = [];
          for (let i = 0; i < storedAirports.length; i++) {
            let item = storedAirports[i]
            if (!item.is_home) {
              iatas.push(item.IATA);
            }
          }
          for (let i = 0; i < homeAirports.length; i++) {
            let item = homeAirports[i];
            homes.push(item.IATA);
          }
          $("#suggested-list").empty();
          $.get('/airlines', {
            'other_iatas': iatas.join(),
            'home_iatas': homes.join()
          }, function(result) {
            let airlines = result.airlines;
            for (let i = 0; i < airlines.length; ++i) {
              let html = "<tr><td>" + airlines[i].iata + " - " + airlines[i].name + "<br>"
              if (airlines[i].num_routes) {
                html += "Number of routes: " + airlines[i].num_routes + "<br>"
              }
              if (airlines[i].meandelay) {
                html += "Mean delay time: " + airlines[i].meandelay + "<br>"
              }
              if (airlines[i].p) {
                html += "P: " + airlines[i].p + "</td></tr>"
              }
              let tablerow = $(html);
              tablerow.appendTo($("#suggested-list"))
            }
          })
        })
      })
      function openSidebar() {
        if (sidebar !== null) {
          sidebar.open("home");
        }
      }

     function nextPage() {
       iatas = [];
       homes = [];
       for (let i=0; i<storedAirports.length; i++) {
        let item = storedAirports[i]
        if (item.is_home) {
          homes.push(item.IATA);
        } else {
          iatas.push(item.IATA);
        }
      }

      if (iatas.length + homes.length < 5) {
        alert('Please select at least 5 airports!');
        return;
      }
      window.location.href = '/airlines?other_iatas='+iatas.join()+'&home_iatas='+homes.join();
     }
    </script>
  </body>
</html>
