<!doctype html>
<head>
  <title>FlyingTardigrades Flightportal for Frequent Flyers</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">

  <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <div class="ui container">
    <h1>Flight Portal for Frequent Flyers</h1>

    <hr />
    <h2>Please input airports you've visited the most</h2>
    <h3>Option 1a (recommended): Upload your Google Location History data</h3>
      <p>
	You can download your Google Location History here: <br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://takeout.google.com/settings/takeout">https://takeout.google.com/settings/takeout</a>
      </p>
    <form method="post" enctype="multipart/form-data">
      <p>
	<input type="file" name="file" />
        <input type="submit" value="Submit" />
      </p>
    </form>
    <h3>OR</h3>
    <form method="post">
      <h4>Option 1b: Use sample data</h4>
      <p>
        <button type="submit" name="use_example" value="1">Use example data</button>
      </p>
    </form>
    <h3>OR</h3>
    <form action="./airlines" method="get">
      <h4>Option 2: Select airports manually</h4>
      <div class="ui fluid multiple search selection dropdown">
        <input name="homes" type="hidden">
        <i class="dropdown icon"></i>
        <div class="default text">Select Other Airport</div>
        <div class="menu">
	  {% for airport in airports %}
	  <div class="item" data-value="{{ airport.iata }}">{{ airport.iata }} - {{ airport.name }}</div>
	  {% endfor %}
        </div>
      </div>
      <br />
      <div class="ui fluid multiple search selection dropdown">
        <input name="IATAs" type="hidden">
        <i class="dropdown icon"></i>
	<div class="default text">Select Home Airport(s) - your most used airport near to your home</div>
        <div class="menu">
	  {% for airport in airports %}
	  <div class="item" data-value="{{ airport.iata }}">{{ airport.iata }} - {{ airport.name }}</div>
	  {% endfor %}
        </div>
      </div>
      <br />
      <button type="submit">Use selected airports</button>
    </form>
  </div>
  <script>
      $('.dropdown').dropdown()
  </script>
</body>
</html>
