<!doctype html>
<head>
  <title>Upload new File</title>
</head>
<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  
  <h1>Upload new File</h1>
  <form method="post" enctype="multipart/form-data">
    <p>
      <input type="file" name="file">
      <input type="submit" value="Upload">
    </p>
  </form>

  <form method="post">
    <p>
      <button type="submit" name="use_example" value="1">Use example data</button>
    </p>
  </form>
</body>
</html>
